[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
v = {editable = true,version = "*"}

[packages]
pandas = "*"
sqlalchemy = "*"
pymysql = "*"
jupyter = "*"
ipykernel = "*"
matplotlib = "*"
numpy = "*"
flask = "*"
flask-sqlalchemy = "*"
jsonify = "*"
request = "*"
nb-black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
